In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_excel(r"C:\Users\TANVI\Desktop\New folder\Online Retail.xlsx")
df

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\TANVI\\Desktop\\New folder\\Online Retail.xlsx'

In [3]:
#1-a(i)
df1=df[['InvoiceNo','StockCode','Description','Quantity']].copy()
df1=df1.loc[df.InvoiceNo==536544]
df1

NameError: name 'df' is not defined

In [4]:
#1-b(i)
df2=df['UnitPrice']
print("Min =",df2.min(axis=0),"\nMax =",df2.max(axis=0),"\nMedian =",df2.median(),"\nMean =",df2.mean(),"\nStandard Deviation =",df2.std(),"\nVariance =",df2.var(),"\nSum =",df2.sum(),"\nCount =",df2.count())

NameError: name 'df' is not defined

In [22]:
#1-c(i)
df3=pd.read_excel(r"C:\Users\TANVI\Desktop\New folder\Online Retail.xlsx",skiprows=[i for i in range(1,101)])
df3

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536378,84519A,TOMATO CHARLIE+LOLA COASTER SET,6,2010-12-01 09:37:00,2.95,14688.0,United Kingdom
1,536378,85183B,CHARLIE & LOLA WASTEPAPER BIN FLORA,48,2010-12-01 09:37:00,1.25,14688.0,United Kingdom
2,536378,85071B,RED CHARLIE+LOLA PERSONAL DOORSIGN,96,2010-12-01 09:37:00,0.38,14688.0,United Kingdom
3,536378,21931,JUMBO STORAGE BAG SUKI,10,2010-12-01 09:37:00,1.95,14688.0,United Kingdom
4,536378,21929,JUMBO BAG PINK VINTAGE PAISLEY,10,2010-12-01 09:37:00,1.95,14688.0,United Kingdom
5,536380,22961,JAM MAKING SET PRINTED,24,2010-12-01 09:41:00,1.45,17809.0,United Kingdom
6,536381,22139,RETROSPOT TEA SET CERAMIC 11 PC,23,2010-12-01 09:41:00,4.25,15311.0,United Kingdom
7,536381,84854,GIRLY PINK TOOL SET,5,2010-12-01 09:41:00,4.95,15311.0,United Kingdom
8,536381,22411,JUMBO SHOPPER VINTAGE RED PAISLEY,10,2010-12-01 09:41:00,1.95,15311.0,United Kingdom
9,536381,82567,"AIRLINE LOUNGE,METAL SIGN",2,2010-12-01 09:41:00,2.10,15311.0,United Kingdom
10,536381,21672,WHITE SPOT RED CERAMIC DRAWER KNOB,6,2010-12-01 09:41:00,1.25,15311.0,United Kingdom
11,536381,22774,RED DRAWER KNOB ACRYLIC EDWARDIAN,24,2010-12-01 09:41:00,1.25,15311.0,United Kingdom
12,536381,22771,CLEAR DRAWER KNOB ACRYLIC EDWARDIAN,24,2010-12-01 09:41:00,1.25,15311.0,United Kingdom
13,536381,71270,PHOTO CLIP LINE,1,2010-12-01 09:41:00,1.25,15311.0,United Kingdom
14,536381,22262,FELT EGG COSY CHICKEN,1,2010-12-01 09:41:00,0.85,15311.0,United Kingdom
15,536381,22637,PIGGY BANK RETROSPOT,1,2010-12-01 09:41:00,2.55,15311.0,United Kingdom
16,536381,21934,SKULL SHOULDER BAG,10,2010-12-01 09:41:00,1.65,15311.0,United Kingdom
17,536381,21169,YOU'RE CONFUSING ME METAL SIGN,3,2010-12-01 09:41:00,1.69,15311.0,United Kingdom
18,536381,21166,COOK WITH WINE METAL SIGN,1,2010-12-01 09:41:00,1.95,15311.0,United Kingdom
19,536381,21175,GIN + TONIC DIET METAL SIGN,2,2010-12-01 09:41:00,2.10,15311.0,United Kingdom
20,536381,37444A,YELLOW BREAKFAST CUP AND SAUCER,1,2010-12-01 09:41:00,2.95,15311.0,United Kingdom
21,536381,37444C,PINK BREAKFAST CUP AND SAUCER,1,2010-12-01 09:41:00,2.95,15311.0,United Kingdom
22,536381,22086,PAPER CHAIN KIT 50'S CHRISTMAS,4,2010-12-01 09:41:00,2.95,15311.0,United Kingdom
23,536381,22083,PAPER CHAIN KIT RETROSPOT,1,2010-12-01 09:41:00,2.95,15311.0,United Kingdom
24,536381,84971S,SMALL HEART FLOWERS HOOK,6,2010-12-01 09:41:00,0.85,15311.0,United Kingdom
25,536381,71270,PHOTO CLIP LINE,3,2010-12-01 09:41:00,1.25,15311.0,United Kingdom
26,536381,47580,TEA TIME DES TEA COSY,2,2010-12-01 09:41:00,2.55,15311.0,United Kingdom
27,536381,22261,FELT EGG COSY WHITE RABBIT,1,2010-12-01 09:41:00,0.85,15311.0,United Kingdom
28,536381,84832,ZINC WILLIE WINKIE CANDLE STICK,1,2010-12-01 09:41:00,0.85,15311.0,United Kingdom
29,536381,22644,CERAMIC CHERRY CAKE MONEY BANK,1,2010-12-01 09:41:00,1.45,15311.0,United Kingdom
...,...,...,...,...,...,...,...,...
541779,581585,22726,ALARM CLOCK BAKELIKE GREEN,8,2011-12-09 12:31:00,3.75,15804.0,United Kingdom
541780,581585,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:31:00,3.75,15804.0,United Kingdom
541781,581585,16016,LARGE CHINESE STYLE SCISSOR,10,2011-12-09 12:31:00,0.85,15804.0,United Kingdom
541782,581585,21916,SET 12 RETRO WHITE CHALK STICKS,24,2011-12-09 12:31:00,0.42,15804.0,United Kingdom
541783,581585,84692,BOX OF 24 COCKTAIL PARASOLS,25,2011-12-09 12:31:00,0.42,15804.0,United Kingdom
541784,581585,84946,ANTIQUE SILVER T-LIGHT GLASS,12,2011-12-09 12:31:00,1.25,15804.0,United Kingdom
541785,581585,21684,SMALL MEDINA STAMPED METAL BOWL,12,2011-12-09 12:31:00,0.85,15804.0,United Kingdom
541786,581585,22398,MAGNETS PACK OF 4 SWALLOWS,12,2011-12-09 12:31:00,0.39,15804.0,United Kingdom
541787,581585,23328,SET 6 SCHOOL MILK BOTTLES IN CRATE,4,2011-12-09 12:31:00,3.75,15804.0,United Kingdom
541788,581585,23145,ZINC T-LIGHT HOLDER STAR LARGE,12,2011-12-09 12:31:00,0.95,15804.0,United Kingdom
541789,581585,22466,FAIRY TALE COTTAGE NIGHT LIGHT,12,2011-12-09 12:31:00,1.95,15804.0,United Kingdom
541790,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,2011-12-09 12:49:00,2.95,13113.0,United Kingdom
541791,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,2011-12-09 12:49:00,1.25,13113.0,United Kingdom
541792,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113.0,United Kingdom
541793,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113.0,United Kingdom
541794,581587,22631,CIRCUS PARADE LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680.0,France
541795,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680.0,France
541796,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680.0,France
541797,581587,22728,ALARM CLOCK BAKELIKE PINK,4,2011-12-09 12:50:00,3.75,12680.0,France
541798,581587,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:50:00,3.75,12680.0,France
541799,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,2011-12-09 12:50:00,3.75,12680.0,France
541800,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680.0,France
541801,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,2011-12-09 12:50:00,1.95,12680.0,France
541802,581587,22629,SPACEBOY LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680.0,France
541803,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,2011-12-09 12:50:00,4.15,12680.0,France
541804,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541805,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541806,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541807,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541808,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [ ]:
df3['InvoiceNo'] = df['InvoiceNo'].astype(int)
df3.sort_values(by=['InvoiceNo'], inplace=True)

In [26]:
#1-c(ii)
D=df3['Description'].str.startswith('D', na=False)
df3[D]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
40,536381,21523,DOORMAT FANCY FONT HOME SWEET HOME,10,2010-12-01 09:41:00,6.75,15311.0,United Kingdom
41,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom
85,536388,21523,DOORMAT FANCY FONT HOME SWEET HOME,2,2010-12-01 09:59:00,7.95,16250.0,United Kingdom
119,536390,20668,DISCO BALL CHRISTMAS DECORATION,288,2010-12-01 10:19:00,0.10,17511.0,United Kingdom
128,536390,22654,DELUXE SEWING KIT,40,2010-12-01 10:19:00,4.95,17511.0,United Kingdom
159,536394,22349,DOG BOWL CHASING BALL DESIGN,12,2010-12-01 10:39:00,3.75,13408.0,United Kingdom
203,536398,48185,DOORMAT FAIRY CAKE,2,2010-12-01 10:52:00,7.95,13448.0,United Kingdom
235,536401,21464,DISCO BALL ROTATOR BATTERY OPERATED,1,2010-12-01 11:21:00,4.25,15862.0,United Kingdom
240,536401,48129,DOORMAT TOPIARY,1,2010-12-01 11:21:00,7.95,15862.0,United Kingdom
354,536408,20685,DOORMAT RED RETROSPOT,2,2010-12-01 11:41:00,7.95,14307.0,United Kingdom
355,536408,48194,DOORMAT HEARTS,2,2010-12-01 11:41:00,7.95,14307.0,United Kingdom
399,536409,21955,DOORMAT UNION JACK GUNS AND ROSES,1,2010-12-01 11:45:00,7.95,17908.0,United Kingdom
413,536409,20668,DISCO BALL CHRISTMAS DECORATION,24,2010-12-01 11:45:00,0.12,17908.0,United Kingdom
449,536412,22630,DOLLY GIRL LUNCH BOX,1,2010-12-01 11:49:00,1.95,17920.0,United Kingdom
620,536425,22508,DOORSTOP RETROSPOT HEART,8,2010-12-01 12:08:00,3.75,13758.0,United Kingdom
682,536464,90059B,DIAMANTE HAIR GRIP PACK/2 BLACK DIA,2,2010-12-01 12:23:00,1.65,17968.0,United Kingdom
684,536464,90059E,DIAMANTE HAIR GRIP PACK/2 RUBY,3,2010-12-01 12:23:00,1.65,17968.0,United Kingdom
685,536464,90059C,DIAMANTE HAIR GRIP PACK/2 MONTANA,1,2010-12-01 12:23:00,1.65,17968.0,United Kingdom
749,536464,21329,DINOSAURS WRITING SET,1,2010-12-01 12:23:00,1.65,17968.0,United Kingdom
754,536464,48173C,DOORMAT BLACK FLOCK,1,2010-12-01 12:23:00,7.95,17968.0,United Kingdom
819,536500,22630,DOLLY GIRL LUNCH BOX,2,2010-12-01 12:35:00,1.95,17377.0,United Kingdom
1134,536531,22688,DOORMAT PEACE ON EARTH BLUE,4,2010-12-01 13:23:00,7.95,15485.0,United Kingdom
1205,536532,20685,DOORMAT RED RETROSPOT,2,2010-12-01 13:24:00,7.95,12433.0,Norway
1211,536533,22825,DECORATIVE PLANT POT WITH FRIEZE,2,2010-12-01 13:31:00,7.95,16955.0,United Kingdom
1226,536535,21523,DOORMAT FANCY FONT HOME SWEET HOME,2,2010-12-01 13:38:00,7.95,15605.0,United Kingdom
1227,536535,48194,DOORMAT HEARTS,2,2010-12-01 13:38:00,7.95,15605.0,United Kingdom
1228,536535,20685,DOORMAT RED RETROSPOT,2,2010-12-01 13:38:00,7.95,15605.0,United Kingdom
1250,536538,21523,DOORMAT FANCY FONT HOME SWEET HOME,1,2010-12-01 13:54:00,7.95,14594.0,United Kingdom
1251,536538,48129,DOORMAT TOPIARY,1,2010-12-01 13:54:00,7.95,14594.0,United Kingdom
1252,536538,21524,DOORMAT SPOTTY HOME SWEET HOME,1,2010-12-01 13:54:00,7.95,14594.0,United Kingdom
...,...,...,...,...,...,...,...,...
540764,581492,90059E,DIAMANTE HAIR GRIP PACK/2 RUBY,1,2011-12-09 10:03:00,1.65,NaN,United Kingdom
540765,581492,90059F,DIAMANTE HAIR GRIP PACK/2 LT ROSE,1,2011-12-09 10:03:00,1.65,NaN,United Kingdom
540781,581492,90169,DAISY HAIR COMB,1,2011-12-09 10:03:00,2.48,NaN,United Kingdom
540782,581492,90170,DAISY HAIR BAND,1,2011-12-09 10:03:00,1.65,NaN,United Kingdom
540787,581492,90177C,DROP DIAMANTE EARRINGS CRYSTAL,1,2011-12-09 10:03:00,2.90,NaN,United Kingdom
540794,581492,90188,DROP EARRINGS W FLOWER & LEAF,2,2011-12-09 10:03:00,2.48,NaN,United Kingdom
540808,581492,DOT,DOTCOM POSTAGE,1,2011-12-09 10:03:00,933.17,NaN,United Kingdom
540872,581492,22630,DOLLY GIRL LUNCH BOX,1,2011-12-09 10:03:00,4.13,NaN,United Kingdom
540879,581492,22654,DELUXE SEWING KIT,2,2011-12-09 10:03:00,12.46,NaN,United Kingdom
540959,581492,22977,DOLLY GIRL CHILDRENS EGG CUP,1,2011-12-09 10:03:00,2.46,NaN,United Kingdom
540987,581492,23077,DOUGHNUT LIP GLOSS,3,2011-12-09 10:03:00,2.46,NaN,United Kingdom
541039,581492,23284,DOORMAT KEEP CALM AND COME IN,1,2011-12-09 10:03:00,15.79,NaN,United Kingdom
541114,581494,23390,DOLLY GIRL MINI BACKPACK,4,2011-12-09 10:13:00,4.15,12518.0,Germany
541125,581495,48138,DOORMAT UNION FLAG,10,2011-12-09 10:20:00,7.08,14051.0,United Kingdom
541126,581495,21523,DOORMAT FANCY FONT HOME SWEET HOME,10,2011-12-09 10:20:00,7.08,14051.0,United Kingdom
541251,581498,21329,DINOSAURS WRITING SET,1,2011-12-09 10:26:00,3.29,NaN,United Kingdom
541255,581498,21523,DOORMAT FANCY FONT HOME SWEET HOME,1,2011-12-09 10:26:00,16.63,NaN,United Kingdom
541274,581498,21955,DOORMAT UNION JACK GUNS AND ROSES,1,2011-12-09 10:26:00,12.46,NaN,United Kingdom
541342,581498,22654,DELUXE SEWING KIT,2,2011-12-09 10:26:00,12.46,NaN,United Kingdom
541410,581498,48138,DOORMAT UNION FLAG,1,2011-12-09 10:26:00,14.13,NaN,United Kingdom
541440,581498,DOT,DOTCOM POSTAGE,1,2011-12-09 10:26:00,1714.17,NaN,United Kingdom
541444,581500,48187,DOORMAT NEW ENGLAND,2,2011-12-09 10:45:00,8.25,15344.0,United Kingdom
541449,581501,22165,"DIAMANTE HEART SHAPED WALL MIRROR,",12,2011-12-09 10:46:00,3.95,12985.0,United Kingdom
541471,581502,20668,DISCO BALL CHRISTMAS DECORATION,24,2011-12-09 10:51:00,0.12,15910.0,United Kingdom
541551,581538,23034,DRAWER KNOB CERAMIC BLACK,1,2011-12-09 11:34:00,1.45,14446.0,United Kingdom
541553,581538,23033,DRAWER KNOB CERAMIC RED,1,2011-12-09 11:34:00,1.45,14446.0,United Kingdom
541569,581538,21329,DINOSAURS WRITING SET,1,2011-12-09 11:34:00,1.65,14446.0,United Kingdom
541627,581570,23077,DOUGHNUT LIP GLOSS,20,2011-12-09 11:59:00,1.25,12662.0,Germany
541633,581571,48187,DOORMAT NEW ENGLAND,1,2011-12-09 12:00:00,8.25,15311.0,United Kingdom
541793,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113.0,United Kingdom

In [29]:
#2-a(i)
df4=[['Tanvi','30-04-2002',100],['Akshara','05-07-2001',85],['Ridhima','15-04-2000',90],['Maya','28-09-2000',78],['Ayesha','01-01-2001',55]]
df4=pd.DataFrame(df4,columns=['Name','DOB','Marks'])
df4

      Name         DOB  Marks
0    Tanvi  30-04-2002    100
1  Akshara  05-07-2001     85
2  Ridhima  15-04-2000     90
3     Maya  28-09-2000     78
4   Ayesha  01-01-2001     55

In [28]:
#2-a(ii)
df5={'Name':['Tanvi','Akshara','Ridhima','Maya','Ayesha'],'DOB':['30-04-2002','05-07-2001','15-04-2000','28-09-2000','01-01-2001'],'Marks':[100,85,90,78,55]}
df5=pd.DataFrame(df5)
df5

      Name         DOB  Marks
0    Tanvi  30-04-2002    100
1  Akshara  05-07-2001     85
2  Ridhima  15-04-2000     90
3     Maya  28-09-2000     78
4   Ayesha  01-01-2001     55

In [43]:
#2-a(iii)
df6=[{'Name':'Tanvi','DOB':'30-04-2002','Marks':100},{'Name':'Akshara','DOB':'05-07-2001','Marks':85},{'Name':'Ridhima','DOB':'15-04-2000','Marks':90},{'Name':'Maya','DOB':'28-09-2000','Marks':78},{'Name':'Ayesha','DOB':'01-01-2001','Marks':55}]
df6=pd.DataFrame(df6)
df6

          DOB  Marks     Name
0  30-04-2002    100    Tanvi
1  05-07-2001     85  Akshara
2  15-04-2000     90  Ridhima
3  28-09-2000     78     Maya
4  01-01-2001     55   Ayesha

In [41]:
#2-a(iv)
Name=pd.Series(['Tanvi','Akshara','Ridhima','Maya','Ayesha'])
DOB=pd.Series(['30-04-2002','05-07-2001','15-04-2000','28-09-2000','01-01-2001'])
Marks=pd.Series([100,85,90,78,55])
data={'Name':Name,'DOB':DOB,'Marks':Marks}
df7=pd.DataFrame(*[data])
df7

      Name         DOB  Marks
0    Tanvi  30-04-2002    100
1  Akshara  05-07-2001     85
2  Ridhima  15-04-2000     90
3     Maya  28-09-2000     78
4   Ayesha  01-01-2001     55

In [48]:
#2-b
df8=pd.DataFrame(columns=['Student Name','DOB','English Marks'])
df8=df8.append({'Student Name':'Tanvi','DOB':'30-04-2002','English Marks':100},ignore_index = True)
df8=df8.append({'Student Name':'Akshara','DOB':'05-07-2001','English Marks':85},ignore_index = True)
df8=df8.append({'Student Name':'Ridhima','DOB':'15-04-2000','English Marks':90},ignore_index = True)
df8=df8.append({'Student Name':'Maya','DOB':'28-09-2000','English Marks':78},ignore_index = True)
df8=df8.append({'Student Name':'Ayesha','DOB':'01-01-2001','English Marks':55},ignore_index = True)
df8

  Student Name         DOB English Marks
0        Tanvi  30-04-2002           100
1      Akshara  05-07-2001            85
2      Ridhima  15-04-2000            90
3         Maya  28-09-2000            78
4       Ayesha  01-01-2001            55

In [51]:
#3-a
import random
ser1,ser2=random.sample(range(-100,100),100),random.sample(range(-100,100),100)
ser1,ser2=pd.Series(ser1),pd.Series(ser2),

In [52]:
#3-b
add=ser1.add(ser2,fill_value=0)
sub=ser1.sub(ser2,fill_value=0)
mul=ser1.mul(ser2,fill_value=0)
div=ser1.div(ser2,fill_value=0)

In [53]:
#3-c
df9=pd.DataFrame({'Number 1':ser1,'Number 2':ser2,'add':add,'sub':sub,'mult':mul,'div':div})
df9

    Number 1  Number 2  add  sub  mult        div
0         13       -36  -23   49  -468  -0.361111
1        -67       -55 -122  -12  3685   1.218182
2        -69       -81 -150   12  5589   0.851852
3         34       -98  -64  132 -3332  -0.346939
4         72       -65    7  137 -4680  -1.107692
5        -59        43  -16 -102 -2537  -1.372093
6        -62         9  -53  -71  -558  -6.888889
7         15         2   17   13    30   7.500000
8         28        28   56    0   784   1.000000
9         46       -83  -37  129 -3818  -0.554217
10        45       -46   -1   91 -2070  -0.978261
11         7       -16   -9   23  -112  -0.437500
12       -90        74  -16 -164 -6660  -1.216216
13        -7        78   71  -85  -546  -0.089744
14        74        21   95   53  1554   3.523810
15        80       -73    7  153 -5840  -1.095890
16        67       -62    5  129 -4154  -1.080645
17        31         1   32   30    31  31.000000
18       -81        34  -47 -115 -2754  -2.382353
19       -10        32   22  -42  -320  -0.312500
20        14       -44  -30   58  -616  -0.318182
21         4        83   87  -79   332   0.048193
22       -27      -100 -127   73  2700   0.270000
23       -60        67    7 -127 -4020  -0.895522
24        85       -34   51  119 -2890  -2.500000
25        -8       -82  -90   74   656   0.097561
26        84        22  106   62  1848   3.818182
27       -57        35  -22  -92 -1995  -1.628571
28        95         8  103   87   760  11.875000
29        52       -25   27   77 -1300  -2.080000
..       ...       ...  ...  ...   ...        ...
70       -51        79   28 -130 -4029  -0.645570
71       -18        37   19  -55  -666  -0.486486
72       -92       -87 -179   -5  8004   1.057471
73        -5        65   60  -70  -325  -0.076923
74        57       -32   25   89 -1824  -1.781250
75       -78       -94 -172   16  7332   0.829787
76       -74       -92 -166   18  6808   0.804348
77        81       -30   51  111 -2430  -2.700000
78       -15         4  -11  -19   -60  -3.750000
79        61       -13   48   74  -793  -4.692308
80       -95       -54 -149  -41  5130   1.759259
81        53        99  152  -46  5247   0.535354
82        63        39  102   24  2457   1.615385
83       -26       -22  -48   -4   572   1.181818
84        32        36   68   -4  1152   0.888889
85        73       -23   50   96 -1679  -3.173913
86       -80        51  -29 -131 -4080  -1.568627
87       -50       -61 -111   11  3050   0.819672
88       -65        44  -21 -109 -2860  -1.477273
89        92        53  145   39  4876   1.735849
90        96        85  181   11  8160   1.129412
91       -68       -89 -157   21  6052   0.764045
92         9       -50  -41   59  -450  -0.180000
93       -66        63   -3 -129 -4158  -1.047619
94        -1        56   55  -57   -56  -0.017857
95        16       -29  -13   45  -464  -0.551724
96        70        89  159  -19  6230   0.786517
97       -48        16  -32  -64  -768  -3.000000
98       -84        69  -15 -153 -5796  -1.217391
99        69       -77   -8  146 -5313  -0.896104

[100 rows x 6 columns]